# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
sqlite-db-viewier/node_modules


# next.js
sqlite-db-viewier/.next/
sqlite-db-viewier/out/

# production
sqlite-db-viewier/build



# env files (can opt-in for committing if needed)
fronted.env*



# typescript
*.tsbuildinfo
next-env.d.ts


sqlite-sync-agent/dist
sqlite-sync-agent/node_modules
sqlite-sync-agent/release
